* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
:root {
  --bg-color: #fff;
  --sec-color: #ff6565;
  --blc-text: #272936;

  --big-font: 2rem;
  --p-font: 1rem;
}
body {
  background-color: var(--bg-color);
  color: var(--blc-text);
}

button:hover {
  opacity: 0.9;
  cursor: pointer;
}

/* =========================== */
/* ====== */
.top-section {
  background-image: url(images/Group\ 10.png);
  background-size: cover;
  background-position: center;
  color: var(--bg-color);
  height: 120vh;
}

header {
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  padding: 35px 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5se;
}

.logo img {
  width: 100%;
  height: auto;
}

.nav-list {
  display: flex;
}

.nav-list a {
  display: inline-block;
  margin: 0 35px;
  font-size: var(--p-font);
  color: var(--bg-color);
  transition: all 0.2s ease;
}

.nav-list a:hover {
  color: var(--sec-color);
}

#menu-icon {
  font-size: 42px;
  z-index: 10001;
  cursor: pointer;
  margin-left: 25px;
  display: none;
}

main {
  position: relative;
  width: 60%;
  margin: 0 auto;
  padding-top: 400px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

main button {
  margin: 35px 0 60px;
  padding: 10px 20px;
  background-color: var(--sec-color);
  color: var(--bg-color);
  border: none;
  border-radius: 150px;
}
.what-we-do {
  width: 100%;
  height: 80vh;
  background-color: var(--bg-color);
  color: var(--blc-text);
  text-align: center;
  display: flex;
  justify-content: center;
}

.sec-section {
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sec-section h2 {
  margin-bottom: 20px;
}
.icons {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.icons img {
  margin-bottom: 20px;
}
.icons h3 {
  margin-bottom: 10px;
}
.icons div {
  margin: 0 20px;
  width: 20%;
}
