.home-container {
    width: 100%;
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .home-home-frame {
    width: 100%;
    height: 3718px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .home-school-page {
    top: -2.2737367544323206e-13px;
    left: -1.1368683772161603e-13px;
    width: 1440px;
    height: 3718px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 1);
  }
  .home-part5footer {
    top: 3469px;
    left: 0px;
    width: 1440px;
    height: 249px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .home-background1 {
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 249px;
    position: absolute;
  }
  .home-logo1 {
    top: 95px;
    left: 165px;
    width: 169px;
    height: 30px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .home-text100 {
    top: 6px;
    left: 55px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Regular;
    text-align: left;
    font-family: Coiny;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-smile1 {
    top: 0.02319999970495701px;
    left: 0.5922138690948486px;
    width: 36.38834762573242px;
    height: 29.46099090576172px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-path10 {
    top: 0px;
    left: 4.402585983276367px;
    width: 8px;
    height: 12px;
    position: absolute;
  }
  .home-path11 {
    top: 0px;
    left: 23.11778450012207px;
    width: 8px;
    height: 12px;
    position: absolute;
  }
  .home-path12 {
    top: 20.661460876464844px;
    left: 0px;
    width: 36px;
    height: 9px;
    position: absolute;
  }
  .home-text102 {
    top: 195px;
    left: 672px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    opacity: 0.35;
    position: absolute;
    font-size: 12px;
    font-style: Regular;
    text-align: left;
    font-family: Source Sans Pro;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-socialicons {
    top: 90px;
    left: 1070px;
    width: 130px;
    height: 30px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-instagram {
    top: 0px;
    left: 100px;
    width: 30px;
    height: 30px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-combined-shape1 {
    top: 0px;
    left: 0px;
    width: 30px;
    height: 30px;
    position: absolute;
  }
  .home-combined-shape2 {
    top: 8.439682006835938px;
    left: 8.44234848022461px;
    width: 13px;
    height: 13px;
    position: absolute;
  }
  .home-shape {
    top: 12.333389282226562px;
    left: 12.33405590057373px;
    width: 5px;
    height: 5px;
    position: absolute;
  }
  .home-twitter {
    top: 0px;
    left: 50px;
    width: 30px;
    height: 30px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-combined-shape3 {
    top: 0px;
    left: 0px;
    width: 30px;
    height: 30px;
    position: absolute;
  }
  .home-facebook {
    top: 0px;
    left: 0px;
    width: 30px;
    height: 30px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-combined-shape4 {
    top: 0px;
    left: 0px;
    width: 30px;
    height: 30px;
    position: absolute;
  }
  .home-part4faq {
    top: 2678px;
    left: 249px;
    width: 920px;
    height: 707px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .home-text104 {
    left: 407px;
    color: rgba(7, 22, 41, 1);
    height: auto;
    position: absolute;
    font-size: 60px;
    font-style: Light;
    text-align: center;
    font-family: Source Sans Pro;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-q1 {
    top: 149px;
    left: 0px;
    width: 350px;
    height: 242px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .home-text106 {
    top: 50px;
    color: rgba(7, 22, 41, 0.5015843510627747);
    width: 350px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Regular;
    text-align: left;
    font-family: Source Sans Pro;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-text108 {
    color: rgba(7, 22, 41, 1);
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Bold;
    text-align: left;
    font-family: Source Sans Pro;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-q3 {
    top: 465px;
    left: 0px;
    width: 350px;
    height: 242px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .home-text110 {
    top: 50px;
    color: rgba(7, 22, 41, 0.5015843510627747);
    width: 350px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Regular;
    text-align: left;
    font-family: Source Sans Pro;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-text112 {
    color: rgba(7, 22, 41, 1);
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Bold;
    text-align: left;
    font-family: Source Sans Pro;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-q2 {
    top: 149px;
    left: 570px;
    width: 350px;
    height: 242px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .home-text114 {
    top: 50px;
    color: rgba(7, 22, 41, 0.5015843510627747);
    width: 350px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Regular;
    text-align: left;
    font-family: Source Sans Pro;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-text116 {
    color: rgba(7, 22, 41, 1);
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Bold;
    text-align: left;
    font-family: Source Sans Pro;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-q4 {
    top: 465px;
    left: 570px;
    width: 350px;
    height: 242px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .home-text118 {
    top: 50px;
    color: rgba(7, 22, 41, 0.5015843510627747);
    width: 350px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Regular;
    text-align: left;
    font-family: Source Sans Pro;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-text120 {
    color: rgba(7, 22, 41, 1);
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Bold;
    text-align: left;
    font-family: Source Sans Pro;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-part3freemembership {
    top: 2109px;
    left: 0px;
    width: 1440px;
    height: 502px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .home-background2 {
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 502px;
    position: absolute;
  }
  .home-text122 {
    top: 70px;
    left: 617px;
    color: rgba(193, 112, 255, 1);
    height: auto;
    position: absolute;
    font-size: 32px;
    font-style: Bold;
    text-align: center;
    font-family: Source Sans Pro;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-text123 {
    color: rgba(193, 112, 255, 1);
  }
  .home-text124 {
    font-weight: 700;
  }
  .home-button1 {
    top: 406px;
    left: 639px;
    width: 162px;
    height: 44px;
    display: flex;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5) ;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .home-buttonbackground1 {
    top: 0px;
    left: 0px;
    width: 162px;
    height: 44px;
    position: absolute;
    border-radius: 22px;
  }
  .home-text126 {
    top: 13px;
    left: 21.5px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Semibold;
    text-align: center;
    font-family: Source Sans Pro;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-dot1 {
    top: 168px;
    left: 164px;
    width: 257px;
    height: 153px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .home-text128 {
    top: 101px;
    left: 22.5px;
    color: rgba(255, 255, 255, 1);
    width: 212px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Regular;
    text-align: center;
    font-family: Source Sans Pro;
    font-weight: 400;
    line-height: 26px;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-text130 {
    top: 62px;
    left: 0.5px;
    color: rgba(255, 255, 255, 1);
    width: 256px;
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Semibold;
    text-align: center;
    font-family: Source Sans Pro;
    font-weight: 600;
    line-height: 26px;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-smile2 {
    top: 0.02783999964594841px;
    left: 106.71065521240234px;
    width: 43.666015625px;
    height: 35.353187561035156px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-path13 {
    top: 0px;
    left: 5.2831034660339355px;
    width: 9px;
    height: 14px;
    position: absolute;
  }
  .home-path14 {
    top: 0px;
    left: 27.741342544555664px;
    width: 9px;
    height: 14px;
    position: absolute;
  }
  .home-path15 {
    top: 24.793750762939453px;
    left: 0px;
    width: 43px;
    height: 11px;
    position: absolute;
  }
  .home-dot2 {
    top: 168px;
    left: 448px;
    width: 257px;
    height: 153px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .home-text132 {
    top: 101px;
    left: 18px;
    color: rgba(255, 255, 255, 1);
    width: 221px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Regular;
    text-align: center;
    font-family: Source Sans Pro;
    font-weight: 400;
    line-height: 26px;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-text134 {
    top: 62px;
    left: 0.5px;
    color: rgba(255, 255, 255, 1);
    width: 256px;
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Semibold;
    text-align: center;
    font-family: Source Sans Pro;
    font-weight: 600;
    line-height: 26px;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-smile3 {
    top: 0.02783999964594841px;
    left: 106.71065521240234px;
    width: 43.666015625px;
    height: 35.353187561035156px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-path16 {
    top: 0px;
    left: 5.2831034660339355px;
    width: 9px;
    height: 14px;
    position: absolute;
  }
  .home-path17 {
    top: 0px;
    left: 27.741342544555664px;
    width: 9px;
    height: 14px;
    position: absolute;
  }
  .home-path18 {
    top: 24.793750762939453px;
    left: 0px;
    width: 43px;
    height: 11px;
    position: absolute;
  }
  .home-dot3 {
    top: 168px;
    left: 733px;
    width: 257px;
    height: 153px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .home-text136 {
    top: 101px;
    left: 21px;
    color: rgba(255, 255, 255, 1);
    width: 215px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Regular;
    text-align: center;
    font-family: Source Sans Pro;
    font-weight: 400;
    line-height: 26px;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-text138 {
    top: 62px;
    left: 0.5px;
    color: rgba(255, 255, 255, 1);
    width: 256px;
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Semibold;
    text-align: center;
    font-family: Source Sans Pro;
    font-weight: 600;
    line-height: 26px;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-smile4 {
    top: 0.02783999964594841px;
    left: 106.71065521240234px;
    width: 43.666015625px;
    height: 35.353187561035156px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-path19 {
    top: 0px;
    left: 5.2831034660339355px;
    width: 9px;
    height: 14px;
    position: absolute;
  }
  .home-path20 {
    top: 0px;
    left: 27.741342544555664px;
    width: 9px;
    height: 14px;
    position: absolute;
  }
  .home-path21 {
    top: 24.793750762939453px;
    left: 0px;
    width: 43px;
    height: 11px;
    position: absolute;
  }
  .home-dot4 {
    top: 168px;
    left: 1019px;
    width: 257px;
    height: 153px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .home-text140 {
    top: 101px;
    left: 21px;
    color: rgba(255, 255, 255, 1);
    width: 215px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Regular;
    text-align: center;
    font-family: Source Sans Pro;
    font-weight: 400;
    line-height: 26px;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-text142 {
    top: 62px;
    left: 0.5px;
    color: rgba(255, 255, 255, 1);
    width: 256px;
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Semibold;
    text-align: center;
    font-family: Source Sans Pro;
    font-weight: 600;
    line-height: 26px;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-smile5 {
    top: 0.02783999964594841px;
    left: 106.71065521240234px;
    width: 43.666015625px;
    height: 35.353187561035156px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-path22 {
    top: 0px;
    left: 5.2831034660339355px;
    width: 9px;
    height: 14px;
    position: absolute;
  }
  .home-path23 {
    top: 0px;
    left: 27.741342544555664px;
    width: 9px;
    height: 14px;
    position: absolute;
  }
  .home-path24 {
    top: 24.793750762939453px;
    left: 0px;
    width: 43px;
    height: 11px;
    position: absolute;
  }
  .home-part2tutorials {
    top: 1572px;
    left: 106px;
    width: 1228px;
    height: 450px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .home-text144 {
    left: 482px;
    color: rgba(7, 22, 41, 1);
    height: auto;
    position: absolute;
    font-size: 32px;
    font-style: Light;
    text-align: center;
    font-family: Source Sans Pro;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-text145 {
    color: rgba(7, 22, 41, 1);
    font-weight: 300;
  }
  .home-text146 {
    color: rgba(193, 112, 255, 1);
  }
  .home-text147 {
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
  }
  .home-tuto1 {
    top: 115px;
    left: 58px;
    width: 255px;
    height: 335px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .home-background3 {
    top: 0px;
    left: 0px;
    width: 255px;
    height: 335px;
    position: absolute;
    border-radius: 5px;
  }
  .home-avatar1 {
    top: 261px;
    left: 13px;
    width: 30px;
    height: 30px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-mask10 {
    top: 0px;
    left: 0px;
    width: 30px;
    height: 30px;
    position: absolute;
  }
  .home-image11 {
    top: 0px;
    left: 0px;
    width: 30px;
    height: 30px;
    position: absolute;
  }
  .home-text149 {
    top: 263px;
    left: 56px;
    color: rgba(193, 112, 255, 1);
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Semibold;
    text-align: left;
    font-family: Source Sans Pro;
    font-weight: 600;
    line-height: 27px;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-text151 {
    top: 297px;
    left: 199px;
    color: rgba(193, 112, 255, 1);
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Semibold;
    text-align: right;
    font-family: Source Sans Pro;
    font-weight: 600;
    line-height: 27px;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-rating1 {
    top: 305px;
    left: 13px;
    width: 107px;
    height: 15px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-star11 {
    top: 0px;
    left: 0px;
    width: 15px;
    height: 15px;
    position: absolute;
  }
  .home-star21 {
    top: 0px;
    left: 23px;
    width: 15px;
    height: 15px;
    position: absolute;
  }
  .home-star31 {
    top: 0px;
    left: 46px;
    width: 15px;
    height: 15px;
    position: absolute;
  }
  .home-star41 {
    top: 0px;
    left: 69px;
    width: 15px;
    height: 15px;
    position: absolute;
  }
  .home-star51 {
    top: 0px;
    left: 92px;
    width: 15px;
    height: 15px;
    position: absolute;
  }
  .home-text153 {
    top: 199.60000610351562px;
    left: 13px;
    color: rgba(7, 22, 41, 0.5015843510627747);
    width: 242px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Regular;
    text-align: left;
    font-family: Source Sans Pro;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-text155 {
    top: 172px;
    left: 13px;
    color: rgba(7, 22, 41, 1);
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Bold;
    text-align: left;
    font-family: Source Sans Pro;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-preview1 {
    top: 0px;
    left: 0px;
    width: 255px;
    height: 154px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(215, 215, 215, 1);
  }
  .home-mask11 {
    top: 0px;
    left: 0px;
    width: 255px;
    height: 154px;
    position: absolute;
    border-radius: 5px 5px 0 0;
  }
  .home-bitmap1 {
    top: -289px;
    left: -353px;
    width: 821px;
    height: 1232px;
    position: absolute;
  }
  .home-play1 {
    top: 45px;
    left: 96px;
    width: 64px;
    height: 64px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-oval1 {
    top: 0px;
    left: 0px;
    width: 64px;
    height: 64px;
    opacity: 0.86;
    position: absolute;
  }
  .home-triangle1 {
    top: 24.5px;
    left: 40.5px;
    width: 16px;
    height: 13px;
    position: absolute;
  }
  .home-tuto2 {
    top: 115px;
    left: 344px;
    width: 255px;
    height: 335px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .home-background4 {
    top: 0px;
    left: 0px;
    width: 255px;
    height: 335px;
    position: absolute;
    border-radius: 5px;
  }
  .home-avatar2 {
    top: 261px;
    left: 13px;
    width: 30px;
    height: 30px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-mask12 {
    top: 0px;
    left: 0px;
    width: 30px;
    height: 30px;
    position: absolute;
  }
  .home-image12 {
    top: 0px;
    left: 0px;
    width: 30px;
    height: 30px;
    position: absolute;
  }
  .home-text157 {
    top: 263px;
    left: 56px;
    color: rgba(193, 112, 255, 1);
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Semibold;
    text-align: left;
    font-family: Source Sans Pro;
    font-weight: 600;
    line-height: 27px;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-text159 {
    top: 297px;
    left: 199px;
    color: rgba(193, 112, 255, 1);
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Semibold;
    text-align: right;
    font-family: Source Sans Pro;
    font-weight: 600;
    line-height: 27px;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-rating2 {
    top: 305px;
    left: 13px;
    width: 107px;
    height: 15px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-star12 {
    top: 0px;
    left: 0px;
    width: 15px;
    height: 15px;
    position: absolute;
  }
  .home-star22 {
    top: 0px;
    left: 23px;
    width: 15px;
    height: 15px;
    position: absolute;
  }
  .home-star32 {
    top: 0px;
    left: 46px;
    width: 15px;
    height: 15px;
    position: absolute;
  }
  .home-star42 {
    top: 0px;
    left: 69px;
    width: 15px;
    height: 15px;
    position: absolute;
  }
  .home-star52 {
    top: 0px;
    left: 92px;
    width: 15px;
    height: 15px;
    position: absolute;
  }
  .home-text161 {
    top: 199.60000610351562px;
    left: 13px;
    color: rgba(7, 22, 41, 0.5015843510627747);
    width: 242px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Regular;
    text-align: left;
    font-family: Source Sans Pro;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-text163 {
    top: 172px;
    left: 13px;
    color: rgba(7, 22, 41, 1);
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Bold;
    text-align: left;
    font-family: Source Sans Pro;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-preview2 {
    top: 0px;
    left: 0px;
    width: 255px;
    height: 154px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(215, 215, 215, 1);
  }
  .home-mask13 {
    top: 0px;
    left: 0px;
    width: 255px;
    height: 154px;
    position: absolute;
    border-radius: 5px 5px 0 0;
  }
  .home-bitmap2 {
    top: -232px;
    left: -147px;
    width: 402px;
    height: 603px;
    position: absolute;
  }
  .home-play2 {
    top: 45px;
    left: 96px;
    width: 64px;
    height: 64px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-oval2 {
    top: 0px;
    left: 0px;
    width: 64px;
    height: 64px;
    opacity: 0.86;
    position: absolute;
  }
  .home-triangle2 {
    top: 24.5px;
    left: 40.5px;
    width: 16px;
    height: 13px;
    position: absolute;
  }
  .home-tuto3 {
    top: 115px;
    left: 629px;
    width: 255px;
    height: 335px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .home-background5 {
    top: 0px;
    left: 0px;
    width: 255px;
    height: 335px;
    position: absolute;
    border-radius: 5px;
  }
  .home-avatar3 {
    top: 261px;
    left: 13px;
    width: 30px;
    height: 30px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-mask14 {
    top: 0px;
    left: 0px;
    width: 30px;
    height: 30px;
    position: absolute;
  }
  .home-image13 {
    top: 0px;
    left: 0px;
    width: 30px;
    height: 30px;
    position: absolute;
  }
  .home-text165 {
    top: 263px;
    left: 56px;
    color: rgba(193, 112, 255, 1);
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Semibold;
    text-align: left;
    font-family: Source Sans Pro;
    font-weight: 600;
    line-height: 27px;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-text167 {
    top: 297px;
    left: 199px;
    color: rgba(193, 112, 255, 1);
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Semibold;
    text-align: right;
    font-family: Source Sans Pro;
    font-weight: 600;
    line-height: 27px;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-rating3 {
    top: 305px;
    left: 13px;
    width: 107px;
    height: 15px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-star13 {
    top: 0px;
    left: 0px;
    width: 15px;
    height: 15px;
    position: absolute;
  }
  .home-star23 {
    top: 0px;
    left: 23px;
    width: 15px;
    height: 15px;
    position: absolute;
  }
  .home-star33 {
    top: 0px;
    left: 46px;
    width: 15px;
    height: 15px;
    position: absolute;
  }
  .home-star43 {
    top: 0px;
    left: 69px;
    width: 15px;
    height: 15px;
    position: absolute;
  }
  .home-star53 {
    top: 0px;
    left: 92px;
    width: 15px;
    height: 15px;
    position: absolute;
  }
  .home-text169 {
    top: 199.60000610351562px;
    left: 13px;
    color: rgba(7, 22, 41, 0.5015843510627747);
    width: 242px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Regular;
    text-align: left;
    font-family: Source Sans Pro;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-text171 {
    top: 172px;
    left: 13px;
    color: rgba(7, 22, 41, 1);
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Bold;
    text-align: left;
    font-family: Source Sans Pro;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-preview3 {
    top: 0px;
    left: 0px;
    width: 255px;
    height: 154px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(215, 215, 215, 1);
  }
  .home-mask15 {
    top: 0px;
    left: 0px;
    width: 255px;
    height: 154px;
    position: absolute;
    border-radius: 5px 5px 0 0;
  }
  .home-bitmap3 {
    top: -119px;
    left: -3.6666667461395264px;
    width: 261px;
    height: 391px;
    position: absolute;
  }
  .home-play3 {
    top: 45px;
    left: 96px;
    width: 64px;
    height: 64px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-oval3 {
    top: 0px;
    left: 0px;
    width: 64px;
    height: 64px;
    opacity: 0.86;
    position: absolute;
  }
  .home-triangle3 {
    top: 24.5px;
    left: 40.5px;
    width: 16px;
    height: 13px;
    position: absolute;
  }
  .home-tuto4 {
    top: 115px;
    left: 914px;
    width: 255px;
    height: 335px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .home-background6 {
    top: 0px;
    left: 0px;
    width: 255px;
    height: 335px;
    position: absolute;
    border-radius: 5px;
  }
  .home-avatar4 {
    top: 261px;
    left: 13px;
    width: 30px;
    height: 30px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-mask16 {
    top: 0px;
    left: 0px;
    width: 30px;
    height: 30px;
    position: absolute;
  }
  .home-image14 {
    top: 0px;
    left: 0px;
    width: 30px;
    height: 30px;
    position: absolute;
  }
  .home-text173 {
    top: 263px;
    left: 56px;
    color: rgba(193, 112, 255, 1);
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Semibold;
    text-align: left;
    font-family: Source Sans Pro;
    font-weight: 600;
    line-height: 27px;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-text175 {
    top: 297px;
    left: 199px;
    color: rgba(193, 112, 255, 1);
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Semibold;
    text-align: right;
    font-family: Source Sans Pro;
    font-weight: 600;
    line-height: 27px;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-rating4 {
    top: 305px;
    left: 13px;
    width: 107px;
    height: 15px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-star14 {
    top: 0px;
    left: 0px;
    width: 15px;
    height: 15px;
    position: absolute;
  }
  .home-star24 {
    top: 0px;
    left: 23px;
    width: 15px;
    height: 15px;
    position: absolute;
  }
  .home-star34 {
    top: 0px;
    left: 46px;
    width: 15px;
    height: 15px;
    position: absolute;
  }
  .home-star44 {
    top: 0px;
    left: 69px;
    width: 15px;
    height: 15px;
    position: absolute;
  }
  .home-star54 {
    top: 0px;
    left: 92px;
    width: 15px;
    height: 15px;
    position: absolute;
  }
  .home-text177 {
    top: 199.60000610351562px;
    left: 13px;
    color: rgba(7, 22, 41, 0.5015843510627747);
    width: 242px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Regular;
    text-align: left;
    font-family: Source Sans Pro;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-text179 {
    top: 172px;
    left: 13px;
    color: rgba(7, 22, 41, 1);
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Bold;
    text-align: left;
    font-family: Source Sans Pro;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-preview4 {
    top: 0px;
    left: 0px;
    width: 255px;
    height: 154px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(215, 215, 215, 1);
  }
  .home-mask17 {
    top: 0px;
    left: 0px;
    width: 255px;
    height: 154px;
    position: absolute;
    border-radius: 5px 5px 0 0;
  }
  .home-bitmap4 {
    top: -119px;
    left: -3.6666667461395264px;
    width: 261px;
    height: 391px;
    position: absolute;
  }
  .home-bitmap5 {
    top: -105px;
    left: -110.5px;
    width: 546px;
    height: 364px;
    position: absolute;
  }
  .home-play4 {
    top: 45px;
    left: 96px;
    width: 64px;
    height: 64px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-oval4 {
    top: 0px;
    left: 0px;
    width: 64px;
    height: 64px;
    opacity: 0.86;
    position: absolute;
  }
  .home-triangle4 {
    top: 24.5px;
    left: 40.5px;
    width: 16px;
    height: 13px;
    position: absolute;
  }
  .home-part1testimonials {
    top: 1093px;
    left: -1px;
    width: 1440px;
    height: 392px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-background7 {
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 392px;
    position: absolute;
  }
  .home-testimonial {
    top: 108px;
    left: 260px;
    width: 943px;
    height: 160px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-avatar5 {
    top: 0px;
    left: 0px;
    width: 160px;
    height: 160px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-mask18 {
    top: 0px;
    left: 0px;
    width: 160px;
    height: 160px;
    position: absolute;
  }
  .home-bitmap6 {
    top: -25px;
    left: -117px;
    width: 394px;
    height: 341px;
    position: absolute;
  }
  .home-text181 {
    top: 2px;
    left: 213px;
    width: 730px;
    height: 158px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .home-text182 {
    top: 124px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 22px;
    font-style: italic;
    text-align: left;
    font-family: Source Sans Pro;
    font-weight: 400;
    line-height: 33.599998474121094px;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-text184 {
    top: 90px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 22px;
    font-style: Bold;
    text-align: left;
    font-family: Source Sans Pro;
    font-weight: 700;
    line-height: 33.599998474121094px;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-text186 {
    top: 7.105427357601002e-15px;
    color: rgba(255, 255, 255, 1);
    width: 730px;
    height: auto;
    position: absolute;
    font-size: 22px;
    font-style: Regular;
    text-align: left;
    font-family: Source Sans Pro;
    font-weight: 400;
    line-height: 33.599998474121094px;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-mainpart {
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 1093px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .home-background8 {
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 1093px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-mask19 {
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 1093px;
    position: absolute;
  }
  .home-object {
    top: -66px;
    left: -4.075067043304443px;
    width: 1448.150146484375px;
    height: 1055px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(0, 0, 0, 1);
  }
  .home-bitmap7 {
    top: 0px;
    left: 0px;
    width: 1448px;
    height: 1055px;
    position: absolute;
  }
  .home-bitmap8 {
    top: 0px;
    left: 0px;
    width: 1448px;
    height: 1055px;
    position: absolute;
  }
  .home-text188 {
    top: 220px;
    left: 377px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 120px;
    font-style: Bold;
    text-align: center;
    font-family: Source Sans Pro;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-text190 {
    top: 361px;
    left: 593px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Bold;
    text-align: center;
    font-family: Source Sans Pro;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-text192 {
    top: 361px;
    left: 704px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Bold;
    text-align: center;
    font-family: Source Sans Pro;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-text194 {
    top: 361px;
    left: 797px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Bold;
    text-align: center;
    font-family: Source Sans Pro;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-button2 {
    top: 419px;
    left: 639px;
    width: 162px;
    height: 44px;
    display: flex;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5) ;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .home-buttonbackground2 {
    top: 0px;
    left: 0px;
    width: 162px;
    height: 44px;
    position: absolute;
    border-radius: 22px;
  }
  .home-text196 {
    top: 13px;
    left: 20px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Semibold;
    text-align: center;
    font-family: Source Sans Pro;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-text198 {
    top: 631px;
    left: 604px;
    color: rgba(193, 112, 255, 1);
    height: auto;
    position: absolute;
    font-size: 32px;
    font-style: Bold;
    text-align: center;
    font-family: Source Sans Pro;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-text199 {
    color: rgba(193, 112, 255, 1);
  }
  .home-text200 {
    font-weight: 700;
  }
  .home-pros {
    top: 758px;
    left: 217px;
    width: 1009px;
    height: 237px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-pro4 {
    top: 0px;
    left: 859px;
    width: 150px;
    height: 237px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .home-text202 {
    top: 160px;
    color: rgba(255, 255, 255, 1);
    width: 150px;
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Black;
    text-align: center;
    font-family: Source Sans Pro;
    font-weight: 900;
    line-height: 27px;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-text204 {
    top: 189px;
    color: rgba(255, 255, 255, 1);
    width: 150px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: italic;
    text-align: center;
    font-family: Source Sans Pro;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-avatar6 {
    top: 0px;
    left: 0px;
    width: 150px;
    height: 150px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-mask20 {
    top: 0px;
    left: 0px;
    width: 150px;
    height: 150px;
    position: absolute;
  }
  .home-image8 {
    top: 0px;
    left: 0px;
    width: 150px;
    height: 150px;
    position: absolute;
  }
  .home-pro3 {
    top: 0px;
    left: 570px;
    width: 150px;
    height: 237px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .home-text206 {
    top: 160px;
    color: rgba(255, 255, 255, 1);
    width: 150px;
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Black;
    text-align: center;
    font-family: Source Sans Pro;
    font-weight: 900;
    line-height: 27px;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-text208 {
    top: 189px;
    color: rgba(255, 255, 255, 1);
    width: 150px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: italic;
    text-align: center;
    font-family: Source Sans Pro;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-avatar7 {
    top: 0px;
    left: 0px;
    width: 150px;
    height: 150px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-mask21 {
    top: 0px;
    left: 0px;
    width: 150px;
    height: 150px;
    position: absolute;
  }
  .home-image7 {
    top: 0.15000000596046448px;
    left: 0px;
    width: 150px;
    height: 150px;
    position: absolute;
  }
  .home-pro2 {
    top: 0px;
    left: 289px;
    width: 150px;
    height: 237px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .home-text210 {
    top: 160px;
    color: rgba(255, 255, 255, 1);
    width: 150px;
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Black;
    text-align: center;
    font-family: Source Sans Pro;
    font-weight: 900;
    line-height: 27px;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-text212 {
    top: 189px;
    color: rgba(255, 255, 255, 1);
    width: 150px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: italic;
    text-align: center;
    font-family: Source Sans Pro;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-avatar8 {
    top: 0px;
    left: 0px;
    width: 150px;
    height: 150px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-mask22 {
    top: 0px;
    left: 0px;
    width: 150px;
    height: 150px;
    position: absolute;
  }
  .home-image6 {
    top: 0px;
    left: 0px;
    width: 150px;
    height: 150px;
    position: absolute;
  }
  .home-pro1 {
    top: 0px;
    left: 0px;
    width: 150px;
    height: 237px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .home-text214 {
    top: 160px;
    color: rgba(255, 255, 255, 1);
    width: 150px;
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Black;
    text-align: center;
    font-family: Source Sans Pro;
    font-weight: 900;
    line-height: 27px;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-text216 {
    top: 189px;
    color: rgba(255, 255, 255, 1);
    width: 150px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: italic;
    text-align: center;
    font-family: Source Sans Pro;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-avatar9 {
    top: 0px;
    left: 0px;
    width: 150px;
    height: 150px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-mask23 {
    top: 0px;
    left: 0px;
    width: 150px;
    height: 150px;
    position: absolute;
  }
  .home-image15 {
    top: 0px;
    left: 0px;
    width: 150px;
    height: 150px;
    position: absolute;
  }
  .home-header {
    top: 35.02320098876953px;
    left: 171.5922088623047px;
    width: 1103.4078369140625px;
    height: 29.46099090576172px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-logo2 {
    top: 0px;
    left: 0px;
    width: 167.01577758789062px;
    height: 29.46099090576172px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-smile-school {
    top: 6.5208001136779785px;
    left: 55.181785583496094px;
    width: 112px;
    height: 13px;
    position: absolute;
  }
  .home-path25 {
    top: 0px;
    left: 4.402585983276367px;
    width: 8px;
    height: 12px;
    position: absolute;
  }
  .home-path26 {
    top: 0px;
    left: 23.11778450012207px;
    width: 8px;
    height: 12px;
    position: absolute;
  }
  .home-path27 {
    top: 20.661460876464844px;
    left: 0px;
    width: 36px;
    height: 9px;
    position: absolute;
  }
  .home-menu {
    top: 1.9767999649047852px;
    left: 869.4077758789062px;
    width: 234px;
    height: 15px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .home-text218 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 12px;
    font-style: Bold;
    text-align: left;
    font-family: Source Sans Pro;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-text220 {
    left: 102px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 12px;
    font-style: Bold;
    text-align: left;
    font-family: Source Sans Pro;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-text222 {
    left: 200px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 12px;
    font-style: Bold;
    text-align: left;
    font-family: Source Sans Pro;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  